span,
h5 {
    color: darkgray;
}

.text {
    text-align: left;
}

.single-beer,
.random-beer {
    margin: 8vh auto;
    max-width: 400px;
}

.single-beer img,
.random-beer img {
    height: 300px;
}

.top {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    margin-bottom: -50px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.5em;
    margin-bottom: -30px;
}